@{
    ViewBag.Title = "Index";
}

<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">

    @*    @Html.ActionLink("New Post", "AddPost", "Post")*@
     <h1>Welcome</h1>

</section>
